VERSION=1.0.0
SERVICE_NAME=ffgif
ADDR=127.0.0.1
PORT=8080

JWT_SECRET=labibalfaisal@9xzer0
HASH_PEPPER=labib0x0hunter
BCRYPT_COST=12

PG_USER=ffgif
PG_PASSWORD=secret
PG_PORT=5432
PG_ADDRESS=localhost
PG_NAME=ffgif
PG_SSLMODE=disable

PG_SUPERUSER=labib0x9
PG_SUPERDB=postgres

REDIS_ADDR=localhost:6379

EMAIL=verify@projectunsafe.com
MAILTRAP_USERNAME=projectunsafe
MAILTRAP_PASSWORD=projectunsafe

MINIO_ADDR=127.0.0.1:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_TEMP_BUCKET=uploads
MINIO_PERSIST_BUCKET=storage
MINIO_TEMP_BUCKET_TTL_DAYS=1
MINIO_API_CORS_ALLOW_ORIGIN=http://0.0.0.0:8080,http://localhost:8080,http://127.0.0.1:8080
MINIO_NOTIFY_EXCHANGE=notify.upload.exchange
MINIO_PUBLIC_ENDPOINT=127.0.0.1:9000

RMQ_ADDR=localhost:5672
RMQ_USER=guest
RMQ_PASS=guest

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ffgif@gmail.com
SMTP_PASS=1111-2222-3333-4444